body {
  background-color: beige;
}

#wrapper {
  margin-left: 150px;
  margin-right: 150px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: white;
  color: #222;
  min-height: 100vh;
}

#header {
  width: 99.8%;
  height: 50px;
  background: #FF8080;
  border: solid #CCCCCC thin;
  border-bottom: solid #f9e9a1 10px;
  border-top: solid #2297a6 10px;
  padding-top: 20px;
  text-align: center;
}

a.button {
  padding: 6px;
  border: 1px outset buttonborder;
  border-radius: 7px;
  color: black;
  background-color: azure;
  text-decoration: none;
  margin: 20px;
  display: inline-block;
}

#content {
  width: 100%;
  overflow: auto;
}

#pageContent {
  float: left;
  width: 95%;
  padding-left: 15px;
  color: #333333;
  line-height: 1.6;
}

#content h2 {
  color: #6b89bf;
  padding-left: 5px;
}

#content h3 {
  color: #28A684;
  margin-left: 0px;
}

#leftEdge {
  float: left;
  border-left: solid #CCCCCC thin;
  background: #2297a6;
  width: 1%;
  min-height: 100%;
}

#rightEdge {
  float: right;
  border-left: solid #CCCCCC thin;
  background: #2297a6;
  width: 1%;
  min-height: 100%;
}

#pageContent ul {
  list-style: disc;
  padding-left: 1.25rem;
  max-width: 800px;
}

#pageContent li {
  display: flow-root;
  margin-bottom: 12px;
  line-height: 1.5;
  padding-bottom: 10px;
}

#pageContent ul img {
  float: right;
  width: 150px;
  height: auto;
  margin: 0 0 8px 12px;
  border-radius: 8px;
  object-fit: cover;
  border: 2px dashed coral;
}

#pageContent img {
  width: 70%;
}

#footer {
  width: 99.8%;
  text-align: center;
  float: left;
  font-size: 12px;
  font-style: italic;
  background: #f9e9a1;
  border: solid #CCCCCC thin;
  border-top: none;
}

#footer p {
  padding-left: 10px;
}

#pageContent p {
  padding-left: 20px;
  line-height: 1.6;
}
